body {
  background-color: #242424;
}

.mode {
  border: none;
  font-size: large;
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.mode-text {
  color: white;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}